[Unit]
Description=Frontend server
After=network.target

[Service]
User=vagrant
WorkingDirectory=/home/vagrant/server
Environment="PATH=/home/vagrant/server/flask_venv/bin"
ExecStart=/home/vagrant/server/flask_venv/bin/uwsgi --socket 0.0.0.0:5000 --protocol=http -w wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
